<!DOCTYPE html>
<html>
<head>
	<title>Lymphedema-Predictor</title>
	<style>
	h1 {
	color: black;
	text-align: center;
	font-size: 40px;
	}

	</style>
</head>

<body>
	<h1>Lymphedema prediction page prototype</h1>

	<a href="./index">Back to main page</a>
	<form action="/prediction" method="POST">
		<h4>Enter the necessary informations below</h4>
		<label for="age">Enter your age: </label>
		<input type="number" name="age" id="age">
		<br>
		<br>
		<label for="bmi">Enter your bmi: </label>
		<input type="number" name="bmi" id="bmi">
		<br>
		<br>
		<label for="symptom_1">To what degree are you experiencing symptom 1?</label>
		<input type="radio" id="1" name="symptom_1" value="1">
        <label for="1">1</label>
		<input type="radio" id="2" name="symptom_1" value="2">
        <label for="2">2</label>
		<input type="radio" id="3" name="symptom_1" value="3">
        <label for="3">3</label>
		<br>
		<br>
		<label for="other">Are you experiencing any of these other symptoms?</label>
		<select id="other" name="other">
			<option value="none">None</option>
			<option value="option1">Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>

		</select>
		<br>
		<button type="submit" class="btn btn-primary">Submit</button>

	</form>
	
	
	
</body>
</html>